*{
    margin: 0;
    padding: 0;
}
/* // <uniquifier>: Use a unique and descriptive class name

.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
.body{
    font-family: "Jaro", sans-serif;
}
.container{
    width: 100%;
    margin: auto;
    /* background-color: #eee; */
}
.menu-bar{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: rgb(37, 37, 236);}
 .menu-bar .logo i{
    position: absolute;
    width: 50px;
    font-size: 30px;
    top: 30%;
    color: #eee;
    margin-left: 18px;
}
.menu-bar .logo  p {
    width: 300px;
    color: #eee;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 10px;
    text-decoration: none;
  font-family: "Jaro", sans-serif;}

.menu-bar .logo{
    position: relative;
    display: flex;
    width: 50%;
    height: 70px;
    
}


.menu{
    width: 50%;
    height: 70px;
    
}
.menu ul{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-top: 10px;
}
.menu ul li a {
    text-decoration: none;
    color: #eee;
    padding: 18px;
    font-size: 20px;
}
.menu ul li a input{
    border: 0;
    outline: none;
    background: none;
    font-family: "Jaro", sans-serif;
    color: #eee;
    font-size: 20px;
}
.menu ul li i{
    display: none;
    color: white;
    font-size: 20px;
    display: none;
}
.box-contain{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: #eee; */
    width: 90%;
    position: relative;
}
.txt{
    width: 50%;
    font-family: "Jaro", sans-serif;
}
.tag-txt {
    width: 100%;
    height: 80px;
    background-color:orange;
    border-radius: 10px;

}
.tag-txt h1{
    color: black;
    font-family: "Jaro", sans-serif;
    font-size: 60px;
    margin-left: 10px;
}
.txt h2{
    color: blue;
    font-size: 50px;
    margin-left: 10px;
}
.txt p{
    color:black;
    font-size: 50px;
    margin-left: 10px;
}
/* .img-contain{
    display: block;
    width: 50%;
}
.img-contain img {
    width: 100%;
    object-fit: cover;
} */
.btn{
    position: absolute;
    margin-top: 10px;
    bottom: -70px;
    left: 0;
}
.btn button{
    background-color: rgba(9, 9, 254, 0.778);
    width: 200px;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Jaro", sans-serif;
    color: #eee;
}
.txt-decribe{
    /* background-color: #eee; */
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.txt-decribe h1{
    color: black;
    text-align: center;
    font-size: 80px;
    font-family: "Jaro", sans-serif;
}
.cover-box{
    width: 100%;
    /* background-color: #eee; */
    margin: auto;
    display: flex;
    gap: 0.5%;
    flex-wrap: wrap;
    
}
.box{
    display: block;
    width: 24.5%;
    height: 800px;
    margin-top: 10px;
}
.box .box-img{
    width: 100%;
    height: 40%;
    
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.box-txt p{
    font-size: 20px;
    font-family: "Source Code Pro", monospace;
    text-align: center;
}
.box1{
    margin-top: 10px;
    width: 24.5%;
    height: 900px;
}
.box1 .box1-img{
    width: 100%;
    height: 15%;
   
    
}
.box1 .box1-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.box-txt h2{
    font-size: 40px;
    align-items: center;
    font-family: "Jaro", sans-serif;
}
/* .last-page{
    width: 80%;
    margin: auto;

    margin-top: 100px;
   
}
.sn-box1{
    display: flex;
    gap: 1%;
}
.sn-box{
    display: block;
    width: 24%;
    height: 150px;
}
.sn-box h2{
    font-size: 30px;
    color: black;
    font-family: "Jaro", sans-serif;
    
}
.sn-box a{
    text-decoration: none;
}
.sn-box a p{
    font-family: "Source Code Pro", monospace;
    text-decoration: none;
    padding-top: 9px;
    color: blue;
}
 .last-page .policy  p{
    color:black;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    margin-top: 20px;
}
.sn-box2{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.sn-box3{
    width: 70%;
}
.sn-box3 .logo{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    
}
.sn-box3 .logo i{
    position: absolute;
    width: 50px;
    font-size: 30px;
    top: 30%;
    color:blue;
    margin-left: 18px;
}
.sn-box3 .logo  p {
    color: blue;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Jaro", sans-serif;
}
.sn-box4{
    width: 30%;
}
.sn-box4 ul{
    display: flex;
    align-items: end;
    list-style-type: none;
}
.sn-box4 ul li a {
    display: block;
    text-decoration: none;
    padding: 9px;
    font-size: 30px;
    color: blue;
    margin-top: 5px;
}  */
/* responsive */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Double Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .menu-bar .logo i{
        position: absolute;
        width: 50%;
        font-size: 30px;
        top: 30%;
        color: #eee;
        margin-left: 18px;
    }
    .menu-bar .logo  p{
        width: 100%;
        color: #eee;
        font-size: 18px;
        margin-left: 60px;
        margin-top: 25px;
        text-decoration: none;
      font-family: "Jaro", sans-serif;}
    
    .menu ul li i{
        display: block;
        color: white;
        font-size: 40px;
        margin-left: 200px;
        margin-top: 10px;
    }
    
.menu ul li a {
    display: none;
    text-decoration: none;
    color: #eee;
    padding: 18px;
    font-size: 20px;
}
.box-contain{
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: #bc0d0d; */
    width: 90%;
}

.txt{
    /* background-color: #eee; */
    width: 100%;
    font-family: "Jaro", sans-serif;
}
.tag-txt {
    margin: auto;
    justify-content: center;
    width: 60%;
    height: 50px;
    background-color:orange;
    border-radius: 10px;
    margin-top: 20px;

}

.tag-txt h1{
    color: black;
    font-family: "Jaro", sans-serif;
    font-size: 35px;
    margin-left: 10px;
}
.txt h2{
    color: blue;
    font-size: 60px;
    margin-left: 13%;
}
.txt p{
    color:black;
    font-size: 30px;
    text-align: center;

}
.img-contain{
    width:100%;
    margin-top: 50px;
    
}
.img-contain img{
    width: 100%;
    height: 100%;
}
.btn{
    position: absolute;
    margin-top: 10px;
    bottom: -50px;
    left: 35%;
}
.btn button{
    background-color: rgba(9, 9, 254, 0.778);
    width: 100px;
    height: 25px;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Jaro", sans-serif;
    color: #eee;
}
.txt-decribe h1{
    margin-top: 30%;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: "Jaro", sans-serif;
}
.box{
    /* display: block; */
    width: 100%;
    height: 600px;
    margin-top: 100px;

}
.box .box-img{
    width: 80%;
    height: 50%;
    margin-left: 10%;
    
}
.box .box-img img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}
.box-txt p{
    font-size: 20px;
    font-family: "Source Code Pro", monospace;
    text-align: left;
}
.box1{
    margin-left: 20px;
    margin-top: 10px;
    width: 100%;
    height: 1300px;
}
.box1 .box1-img{
    width: 90%;
    height: 40%;
   
    
}
.box1 .box1-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.box-txt h2{
    font-size: 40px;
    align-items: center;
    font-family: "Jaro", sans-serif;
}
.last-page{
    width: 80%;
    margin: auto;
    margin-top: 100px;
   
}


.sn-box1{
    gap: 1%;
}
.sn-box{
    width: 24.9%;
    height: 150px;
}
.sn-box h2{
    font-size: 20px;
    color: black;
    font-family: "Jaro", sans-serif;
    
}
.sn-box a{
    text-decoration: none;
}
.sn-box a p{
    font-family: "Source Code Pro", monospace;
    text-decoration: none;
    padding-top: 9px;
    color: blue;
    font-size: 9px;
}
 .last-page .policy  p{
    color:black;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
}
.sn-box2{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
.sn-box3{
    width: 100%;
    margin: auto;
    justify-content: center;
}
.sn-box3 .logo{
    position: relative;
    display: flex;
    width: 30%;
    height: 70px;
    
}
.sn-box3 .logo i{
    position: absolute;
    width: 70px;
    font-size: 30px;
    top: 30%;
    color:blue;
    margin-left: 50px;
}
.sn-box3 .logo .logo-txt p {
    width: 200px;
    color: blue;
    font-size: 20px;
    text-decoration: none;
    font-family: "Jaro", sans-serif;
    margin-left: 90px;
    margin-top: 25px;
}
.sn-box4{
    width: 50%;
    margin: auto;
    justify-content: center;
}
.sn-box4 ul{
    list-style-type: none;
    display: flex;
}
.sn-box4 ul li a {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: blue;
    margin-top: 3px;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .menu ul li i{
        display: block;
        color: white;
        font-size: 50px;
    }
    
   .menu ul li a {
      display: none;
      text-decoration: none;
      color: #eee;
      padding: 18px;
   }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .menu ul li i{
        display: block;
        color: white;
        font-size: 20px;
        display: none;
    }
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .menu ul li a {
        display: block;
        text-decoration: none;
        color: #eee;
        padding: 18px;
        font-size: 20px;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
       .menu ul li a {
    display: block;
    text-decoration: none;
    color: #eee;
    padding: 18px;
    font-size: 20px;
}
.box-contain{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: #eee; */
    width: 90%;
    position: relative;
}
.last-page{
    /* background-color: aqua; */
    width: 80%;
    margin: auto;
    /* background-color: #eee; */
    margin-top: 100px;
   
}
.sn-box1{
    display: flex;
    gap: 1%;
}
.sn-box{
    display: block;
    width: 24%;
    height: 150px;
}
.sn-box h2{
    font-size: 30px;
    color: black;
    font-family: "Jaro", sans-serif;
    
}
.sn-box a{
    text-decoration: none;
}
.sn-box a p{
    font-family: "Source Code Pro", monospace;
    text-decoration: none;
    padding-top: 9px;
    color: blue;
}
 .last-page .policy  p{
    color:black;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    margin-top: 20px;
}
.sn-box2{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.sn-box3{
    width: 70%;
}
.sn-box3 .logo{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    
}
.sn-box3 .logo i{
    position: absolute;
    width: 50px;
    font-size: 30px;
    top: 30%;
    color:blue;
    margin-left: 18px;
}
.sn-box3 .logo  p {
    color: blue;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Jaro", sans-serif;
}
.sn-box4{
    width: 30%;
}
.sn-box4 ul{
    display: flex;
    align-items: end;
    list-style-type: none;
}
.sn-box4 ul li a {
    display: block;
    text-decoration: none;
    padding: 9px;
    font-size: 30px;
    color: blue;
    margin-top: 5px;
}

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}